<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.plugins.screendim.ScreenDim.plugin"
    version="1.0.2">
	
	<!--
	<engines>
    	<engine name="cordova" version=">=3.4.0" />
	</engines>
	
	<js-module src="www/ScreenDim.js" name="ScreenDim">
        <clobbers target="ScreenDim" />
    </js-module>
	-->

	
    <name>Screen Dim</name>
    
    <description>
        This is a fork of the PhoneGap/Cordova plugin for enabling/disabling screen dim from alunny. Modifications were made to make it hopefully compliant with PhoneGap Build for all to use. Namespace was changed, as I hope to extend this, and wasn't sure on alunny's intention with the original plugin.
    </description>
    
    <license>MIT</license>
    <keywords>cordova,screen,dim</keywords>

	<asset src="www/ScreenDim.js" target="ScreenDim.js" />

    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="ScreenDim"
                    string="ScreenDimPlugin" />

        <header-file src="ScreenDimPlugin.h" />

        <source-file src="ScreenDimPlugin.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/ScreenDim.java"
                target-dir="src/org/apache/cordova/screendim" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScreenDim">
            	<param name="android-package" value="org.apache.cordova.plugins.screendim.ScreenDim" />
            </feature>
        </config-file>
    </platform>
</plugin>
