<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="us.rcs.phonegap.plugins.screendim"
    version="1.0.0">

    <name>Screen Dim</name>
    
    <description>
    This is a fork of the PhoneGap/Cordova plugin for enabling/disabling screen dim from alunny. Modifications were made to make it hopefully compliant with PhoneGap Build for all to use. Namespace was changed, as I hope to extend this, and wasn't sure on alunny's intention with the original plugin.
    </description>

    <asset src="www/screendim.js" target="screendim.js" />

    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="ScreenDim"
                    string="ScreenDimPlugin" />

        <header-file src="ScreenDimPlugin.h" />

        <source-file src="ScreenDimPlugin.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/ScreenDim.java"
                target-dir="src/com/phonegap/build/screendim" />

        <config-file target="res/xml/plugins.xml" parent="/plugins">
            <plugin name="ScreenDim"
                    value="us.rcs.phonegap.plugins.screendim.ScreenDim" />
        </config-file>
    </platform>
</plugin>
